<section class="contact" id="contact">
  <h1 class="heading"><span>İletişim</span> Kur</h1>

  <div class="row">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12040.885258562985!2d28.6870992!3d41.0204138!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf893de82b52538eb!2s%C4%B0stanbul%20Esenyurt%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1649151768886!5m2!1str!2str"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <form action="mailto:muraterennar@gmail.com">
      <h3>bizimle iletişm kurun</h3>
      <input type="text" placeholder="Ad" class="box" />
      <input type="email" placeholder="e-mail Adresiniz" class="box" />
      <input type="tel" placeholder="Konu" class="box" />
      <textarea
        placeholder="Mesaşınız"
        class="box"
        cols="30"
        rows="10"
      ></textarea>
      <input type="submit" value="Gönder" class="button" />
    </form>
  </div>
</section>
