<section class="home" id="home">
  <h3 data-speed="-2" class="home-parallax">arabanı bul</h3>

  <img
    data-speed="5"
    class="home-parallax"
    src="../../../assets/images/home-img.png"
    alt=""
  />

  <a data-speed="7" routerLink="/brands" class="button home-parallax"
    >arabaları keşfet</a
  >
</section>

<!-- <section class="icons-container">
  <div class="icons">
    <i class="fas fa-home"></i>
    <div class="content">
      <h3>150+</h3>
      <p>kategori</p>
    </div>
  </div>

  <div class="icons">
    <i class="fas fa-users"></i>
    <div class="content">
      <h3>320+</h3>
      <p>memnun müşteri</p>
    </div>
  </div>

  <div class="icons">
    <i class="fas fa-car"></i>
    <div class="content">
      <h3>1500+</h3>
      <p>yeni araç</p>
    </div>
  </div>
</section> -->
