<!--Footer Start-->
<section class="footer" id="footer">
  <div class="box-container">
    <div class="box">
      <h3>şubelerimiz</h3>
      <a href="#"> <i class="fas fa-map-marker-alt"></i> istanbul </a>
      <a href="#"> <i class="fas fa-map-marker-alt"></i> Rize </a>
    </div>

    <div class="box">
      <h3>iletişim bilgileri</h3>
      <a href="#"> <i class="fas fa-phone"></i> (+90)531-967-0537 </a>
      <a href="mailto:muraterennar@gmail.com" class="text-lowercase"> <i class="fas fa-envelope"></i> muraterennar@gmail.com </a>
      <a href="#">
        <i class="fas fa-map-marker-alt"></i> istanbul, türkiye - 34
      </a>
    </div>

    <div class="box">
      <h3>sosyal medya hesapları</h3>
      <a href="https://www.linkedin.com/in/murat-eren-nar-3898a1215?challengeId=AQH01_b2hBVvaAAAAYBeGqc-nFEuVGJWDhkITTz18Aus61rkvmh8ZK-Y4JZydyluhhdDXv8_odqHWgWlNs8SeKCpSbKFFpzDFA&submissionId=a88e6623-eafb-e816-7029-175ba3c60b20"> <i class="fab fa-linkedin"></i> linkedin </a>
      <a href="https://github.com/muraterennar"> <i class="fa-brands fa-github"></i> github </a>
    </div>
  </div>

  <div class="credit">
    M.E.N tarafından oluşturuldu, full stackher | her hakkı saklıdır &copy;
  </div>
</section>

<!--Footer End-->
