<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Şehir Id</th>
      <th scope="col">Ad</th>
      <th scope="col">Soyad</th>
      <th scope="col">Şehir</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefon Numarası</th>
      <th scope="col">Cinsiyet</th>
      <th scope="col">Doğum Yılı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.cityId }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.cityName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.genderName }}</td>
      <td>{{ user.birthDate | date: "dd - mm - yyyy" }}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-dark" (click)="backToDashboard()">Geri</button>
